:root {
  --purple-primary: purple;
  --accent-pink: pink;
  --neutral-light: white;
  --lavender-secondary: lavender;
  --dark-primary: rgb(2, 2, 41);
  --border-colour: rgb(164, 164, 218);
}
